# CMSC421 Final Project

Group Memebers: Aron Sun, Jie Zheng //type your name in

In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
from pandas.plotting import scatter_matrix

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import SGDRegressor
from keras.models import Sequential
from keras.layers import Dense   
from keras import optimizers

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from pandas import DataFrame
from pandas import concat
from keras.models import load_model
from keras import optimizers
from matplotlib import pyplot
from math import sqrt
from keras import optimizers
import tensorflow as tf

In [59]:
# load the data 
data_frame = pd.read_csv('us-counties.csv')


data = data_frame[data_frame.state=='Texas']
data = data.groupby(['date']).sum().reset_index()

data['date'] = data['date'].astype("string")

data

           date        fips    cases   deaths
0    2020-02-12     48029.0        1      0.0
1    2020-02-13     48029.0        2      0.0
2    2020-02-14     48029.0        2      0.0
3    2020-02-15     48029.0        2      0.0
4    2020-02-16     48029.0        2      0.0
..          ...         ...      ...      ...
647  2021-11-20  12256516.0  4298114  73664.0
648  2021-11-21  12256516.0  4298896  73689.0
649  2021-11-22  12256516.0  4303004  73736.0
650  2021-11-23  12256516.0  4306962  73832.0
651  2021-11-24  12256516.0  4312664  73921.0

[652 rows x 4 columns]